@{
    ViewData["Title"] = "Successfully";
}

@if (Constants.Theme.Equals(Theme.Light))
{
    <div class="container text-center">Ваш заказ успешно оформлен!</div>
}
else
{
    <div class="container glow-font-dark text-center">Ваш заказ успешно оформлен!</div>
}