@model int

@if (Model == 0)
{
    <a class="btn btn-warning" style="text-align: right"
       asp-area=""
       asp-controller="Cart"
       asp-action="Index">
    <i class="bi bi-cart4"></i></a>
}
else
{
    <a class="btn btn-warning" style="text-align: right"
       asp-area=""
       asp-controller="Cart"
       asp-action="Index">
    <i class="bi bi-cart4"></i><sub><b>@Model</b></sub></a>
}