a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
  background-color: #fff; /* My addition */
}

/* My styles
-------------------------------------------------- */
.header-dark {
    background-color: black;
    border-bottom: 1px solid #fff;
}
.footer-dark {
    background-color: black;
    border-top: 1px solid #fff;
}
.glow-font-dark {
    color: #7cb8fc;
    text-shadow: 2px 0px 2px black, -2px 0px 2px black, 0px 2px 2px black, 0px -1px 1px black, 3px 0px 5px black, -3px 0px 5px black, 0px 3px 5px black, 0px -1px 9px black;
}
.glow-reference-dark {
    color: black;
    text-shadow: 2px 0px 2px white, -2px 0px 2px white, 0px 2px 2px white, 0px -1px 1px white, 3px 0px 5px white, -3px 0px 5px white, 0px 3px 5px white, 0px -1px 9px white;
    font-weight: bold;
}
.glow-reference-dark:hover {
    text-shadow: 2px 0px 2px white, -2px 0px 2px white, 0px 2px 2px white, 0px -1px 1px white, 3px 0px 5px white, -3px 0px 5px white, 0px 3px 5px white, 0px -1px 9px white;
    text-decoration: none;
}
.glow-reference-dark::selection {
    background: #1b6ec2;
}
.button-line {
    position: absolute;
    display: block;
}
.button-line-top {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #7cb8fc);
}
.btn-primary:hover .button-line-top {
    left: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.button-line-right {
    top: -100%;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #7cb8fc);
}
.btn-primary:hover .button-line-right {
    top: 100%;
    transition: 1s;
    transition-delay: 0s;
}
.button-line-bottom {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #7cb8fc);
}
.btn-primary:hover .button-line-bottom {
    right: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.button-line-left {
    bottom: -100%;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(0deg, transparent, #7cb8fc);
}
.btn-primary:hover .button-line-left {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0s;
}
.btn-primary-glow-dark:hover {
    box-shadow: 0 0 10px #7cb8fc, 0 0 40px #7cb8fc, 0 0 80px #7cb8fc;
    background-color: black;
}
.fieldset-table-dark {
    background-color: rgba(225, 239, 242, 0.7);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.modal-background-dark {
    background-color: black;
    border: 1px solid #7cb8fc;
}
.modal-form {
    top: 25%;
    transform: translate(90%, -90%) rotate(360deg);
    transition: 0.3s;
}
.btn-warning-glow-dark:hover {
    background-color: black;
    color: #ffe307;
}
.btn-primary-glow-dark-modal:hover {
    background-color: black;
    color: #7cb8fc;
    box-shadow: none;
}
.work-location {
    margin-right: 5px;
}
#space-between-work-locations {
    margin-right: 20px;
}
.begin-last-page-border {
    border: 1px solid;
}
.begin-last-page-border-box-glow-dark {
    border: 1px solid #1b6ec2;
    box-shadow: 2px 0px 2px #1b6ec2, -2px 0px 2px #1b6ec2, 0px 2px 2px #1b6ec2, 0px -1px 1px #1b6ec2, 3px 0px 5px #1b6ec2, -3px 0px 5px #1b6ec2, 0px 3px 5px #1b6ec2, 0px -1px 9px #1b6ec2;
}
.border-box-none {
    border: none;
    box-shadow: none;
}
.glow-reference-pagination-dark {
    color: white;
    text-shadow: 2px 0px 2px #1b6ec2, -2px 0px 2px #1b6ec2, 0px 2px 2px #1b6ec2, 0px -1px 1px #1b6ec2, 3px 0px 5px #1b6ec2, -3px 0px 5px #1b6ec2, 0px 3px 5px #1b6ec2, 0px -1px 9px #1b6ec2;
    font-weight: bold;
}