@model Product

@if (!ViewBag.Comparison.Contains(Model))
{
    if (ViewBag.Comparison.Count == 4)
    {
        <span data-toggle="tooltip" title="Не более 4-х продуктов для сравнения">
            <button type="button" class="btn btn-light" disabled>
                <i class="bi bi-bar-chart">+</i>
            </button>
        </span>
    }
    else
    {
        <span data-toggle="tooltip" title="К сравнению">
            <a class="btn btn-light" href="~/comparison/addproduct?productId=@Model.Id" role="button">
                <i class="bi bi-bar-chart">+</i>
            </a>
        </span>
    }
}
else
{
    <span data-toggle="tooltip" title="Товар добавлен в Сравнение">
        <button type="button" class="btn btn-light" disabled>
            <i class="bi bi-bar-chart">
                <i class="bi bi-check2"></i>
            </i>
        </button>
    </span>
}