@if (Constants.Theme == Theme.Light)
{
    <div class="col-2">
        <div>
            <a href="~/admin/orders">Заказы</a>
        </div>
        <div>
            <a href="~/admin/users">Пользователи</a>
        </div>
        <div>
            <a href="~/admin/roles">Роли</a>
        </div>
        <div>
            <a href="~/admin/products">Продукты</a>
        </div>
    </div>
}
else
{
    <div class="col-2">
        <div>
            <a class="glow-reference-dark" href="~/admin/orders">Заказы</a>
        </div>
        <div>
            <a class="glow-reference-dark" href="~/admin/users">Пользователи</a>
        </div>
        <div>
            <a class="glow-reference-dark" href="~/admin/roles">Роли</a>
        </div>
        <div>
            <a class="glow-reference-dark" href="~/admin/products">Продукты</a>
        </div>
    </div>
}