<footer class="footer-dark footer text-muted">
    <div class="container text-center">
        <small>&copy; 2021 - 2022 Student Project. Made by Evgeniy Fisunov <i class="bi bi-vector-pen"></i></small>
    </div>
</footer>