<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <div style="text-align: left">
                <a class="btn btn-primary" role="button"
                   asp-area=""
                   asp-controller="Home"
                   asp-action="Index">
                На главную <i class="bi bi-arrow-counterclockwise"></i></a>
                <span data-toggle="tooltip" title="Войти в аккаунт">
                    <a class="btn btn-primary" role="button"
                       asp-area=""
                       asp-controller="Account"
                       asp-action="Login">
                    <i class="bi bi-key-fill"></i><i class="bi bi-shield-lock"></i></a>
                </span>
                <a class="btn btn-dark" role="button"
                   asp-area="Admin"
                   asp-controller="Orders"
                   asp-action="Index">
                Администрирование <i class="bi bi-hammer"></i></a>
            </div>
            <div style="text-align: right">
                <div class="d-inline-block">
                    @await Html.PartialAsync("UpdateTheme")
                </div>
                <div class="d-inline-block" data-toggle="tooltip" title="Сравнение">
                    @await Component.InvokeAsync("Comparison")
                </div>
                <div class="d-inline-block" data-toggle="tooltip" title="Корзина">
                    @await Component.InvokeAsync("Cart")
                </div>
                <div class="d-inline-block" data-toggle="tooltip" title="Избранное">
                    @await Component.InvokeAsync("Favourites")
                </div>
            </div>
        </div>
    </nav>
</header>