<header>
    <nav class="header-dark navbar navbar-expand-sm box-shadow mb-3">
        <div class="container">
            <div style="text-align: left">
                <a class="btn btn-primary btn-primary-glow-dark" role="button"
                   asp-area=""
                   asp-controller="Home"
                   asp-action="Index">
                На главную</a>
                <a class="btn btn-primary btn-primary-glow-dark" role="button"
                   asp-area=""
                   asp-controller="Account"
                   asp-action="Login">
                Войти</a>
                <a class="btn btn-light" role="button"
                   asp-area="Admin"
                   asp-controller="Orders"
                   asp-action="Index">
                Панель администратора</a>
            </div>
            <div style="text-align: right">
                <div class="d-inline-block">
                    @await Html.PartialAsync("UpdateTheme")
                </div>
                <div class="d-inline-block" data-toggle="tooltip" title="Сравнение">
                    @await Component.InvokeAsync("Comparison")
                </div>
                <div class="d-inline-block" data-toggle="tooltip" title="Корзина">
                    @await Component.InvokeAsync("Cart")
                </div>
                <div class="d-inline-block" data-toggle="tooltip" title="Избранное">
                    @await Component.InvokeAsync("Favourites")
                </div>
            </div>
        </div>
    </nav>
</header>