@model int

@if (Model.Equals(0))
{
    <a class="btn btn-outline-danger" style="text-align: right"
       asp-area=""
       asp-controller="Favourites"
       asp-action="Index">
    <i class="bi bi-heart-fill"></i></a>
}
else
{
    <a class="btn btn-outline-danger" style="text-align: right"
       asp-area=""
       asp-controller="Favourites"
       asp-action="Index">
    <i class="bi bi-heart-fill"></i><sub><b>@Model</b></sub></a>
}