@model int

@if (Model.Equals(0))
{
    <a class="btn btn-light" style="text-align: right"
       asp-area=""
       asp-controller="Comparison"
       asp-action="Index">
    <i class="bi bi-bar-chart"></i></a>
}
else
{
    <a class="btn btn-light" style="text-align: right"
       asp-area=""
       asp-controller="Comparison"
       asp-action="Index">
    <i class="bi bi-bar-chart"></i><sub><b>@Model</b></sub></a>
}