@model int

@if (Model == 0)
{
    <a class="btn btn-light" style="text-align: right" href="~/comparison/index">
        <i class="bi bi-bar-chart"></i>
    </a>
}
else
{
    <a class="btn btn-light" style="text-align: right" href="~/comparison/index">
        <i class="bi bi-bar-chart"></i><sub><b>@Model</b></sub>
    </a>
}