@{
    ViewData["Title"] = "AdminUsers";
}

<div class="row">
    @await Html.PartialAsync("AdminLeftMenu")
    <div class="col-9 glow-font-dark">
        <h3>Список пользователей</h3>
    </div>
</div>